[submodule "cppast"]
	path = external/cppast
	url = https://github.com/Manu343726/cppast
[submodule "fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ctti"]
	path = external/ctti
	url = https://github.com/Manu343726/ctti
[submodule "masquerade"]
	path = external/masquerade
	url = https://gitlab.com/Manu343726/masquerade.git
[submodule "external/cppfs"]
	path = external/cppfs
	url = https://github.com/gabm/cppfs.git
