variables:
  GIT_STRATEGY: clone
stages:
  - test
  - user-integration
test-clang40-x86-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang40-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-clang40-x86-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang40-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-clang40-x86-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang40-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-clang50-x86-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang50-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-clang50-x86-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang50-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-clang50-x86-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang50-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-clang60-x86-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang60-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-clang60-x86-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang60-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-clang60-x86-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang60-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc5-armv7-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-armv7
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc5-armv7-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-armv7
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc5-armv7-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-armv7
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc5-x86-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc5-x86-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc5-x86-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc6-armv7-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-armv7
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc6-armv7-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-armv7
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc6-armv7-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-armv7
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc6-x86-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc6-x86-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc6-x86-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc7-armv7-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-armv7
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc7-armv7-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-armv7
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc7-armv7-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-armv7
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc7-x86-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc7-x86-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc7-x86-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc8-armv7-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-armv7
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc8-armv7-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-armv7
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc8-armv7-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-armv7
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc8-x86-llvm4.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc8-x86-llvm5.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
test-gcc8-x86-llvm6.0.0:
  stage: test
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_test.sh
    - echo finished ok
user-integration-clang40-x86-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang40-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-clang40-x86-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang40-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-clang40-x86-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang40-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-clang50-x86-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang50-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-clang50-x86-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang50-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-clang50-x86-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang50-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-clang60-x86-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang60-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-clang60-x86-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang60-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-clang60-x86-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:clang60-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc5-armv7-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-armv7
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc5-armv7-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-armv7
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc5-armv7-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-armv7
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc5-x86-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc5-x86-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc5-x86-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc5-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc6-armv7-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-armv7
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc6-armv7-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-armv7
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc6-armv7-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-armv7
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc6-x86-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc6-x86-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc6-x86-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc6-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc7-armv7-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-armv7
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc7-armv7-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-armv7
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc7-armv7-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-armv7
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc7-x86-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc7-x86-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc7-x86-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc7-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc8-armv7-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-armv7
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc8-armv7-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-armv7
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc8-armv7-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-armv7
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc8-x86-llvm4.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-x86
  variables:
    LLVM_VERSION: 4.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc8-x86-llvm5.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-x86
  variables:
    LLVM_VERSION: 5.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
user-integration-gcc8-x86-llvm6.0.0:
  stage: user-integration
  tags:
    - linux
    - docker
  image: manu343726/tinyrefl:gcc8-x86
  variables:
    LLVM_VERSION: 6.0.0
  script:
    - ./ci/ci_user_integration.sh
    - echo finished ok
