
{% macro tinyrefl_string(str) -%}
TINYREFL_STRING({{str}})
{%- endmacro %}

{% macro tinyrefl_define_string(str) -%}
TINYREFL_DEFINE_STRING({{str}})
{%- endmacro %}

{% macro tinyrefl_sequence(list) -%}
TINYREFL_SEQUENCE(({{list | join(', ')}}))
{%- endmacro %}

{% macro tinyrefl_type(name) -%}
TINYREFL_TYPE({{name}}, {{name}})
{%- endmacro %}

{% macro tinyrefl_value(type, value) -%}
TINYREFL_VALUE({{tinyrefl_type(type)}}, {{value}})
{%- endmacro %}

{% macro tinyrefl_attribute(name, namespace, full_attribute, args) -%}
TINYREFL_ATTRIBUTE(tinyrefl_string({{name}}), tinyrefl_string({{namespace}}), tinyrefl_string({{full_attribute}}), tinyrefl_sequence({{args}}))
{%- endmacro %}

{% macro tinyrefl_constructor(name, fullname, class_type, signature, attributes) -%}
TINYREFL_CONSTRUCTOR({{name}}, {{fullname}}, {{class_type}}, {{signature}}, {{attributes}})
{%- endmacro %}

{% macro tinyrefl_member_function(name, fullname, class_type, return_type, signature, pointer, attributes) -%}
TINYREFL_MEMBER_FUNCTION({{name}}, {{fullname}}, {{class_type}}, {{return_type}}, {{signature}}, {{pointer}}, {{attributes}})
{%- endmacro %}

{% macro tinyrefl_member_variable(name, fullname, class_type, value_type, pointer, attributes) -%}
TINYREFL_MEMBER_VARIABLE({{name}}, {{fullname}}, {{class_type}}, {{value_type}}, {{pointer}}, {{attributes}})
{%- endmacro %}

{% macro tinyrefl_enum_value(name, fullname, type, value, attributes) -%}
TINYREFL_ENUM_VALUE({{name}}, {{fullname}}, {{type}}, {{value}}, {{attributes}})
{%- endmacro %}

{% macro entity_type(entity) -%}
{{tinyrefl_type(entity.name, entity.fullname)}}
{%- endmacro %}

{% macro entity_attributes(entity) -%}
{{tinyrefl_sequence(entity.attributes | tinyrefl_attribute)}}
{%- endmacro %}

{% macro generate_enum_value(value) -%}
{{tinyrefl_enum_value(tinyrefl_string(value.name), tinyrefl_string(value.fullname), entity_type(value.enum), tinyrefl_value(entity_type(value.enum), value.fullname), entity_attributes(value))}}
{%- endmacro %}

{% macro generate_member_function(function) -%}
{{tinyrefl_member_function(tinyrefl_string(function.name), tinyrefl_string(function.fullname), entity_type(function.class), tinyrefl_type(function.return_type, function.return_type), function.signature, tinyrefl_value(tinyrefl_type(function.type, function.type), function.pointer), entity_attributes(function))}}
{%- endmacro %}

{% macro generate_member_variable(variable) -%}
{{tinyrefl_member_variable(tinyrefl_string(variable.name), tinyrefl_string(variable.fullname), entity_type(variable.class), tinyrefl_type(variable.type, variable.type), tinyrefl_value(tinyrefl_type(variable.type, variable.type), variable.pointer), entity_attributes(variable))}}
{%- endmacro %}o

{% macro typelist(types) -%}
{{tinyrefl_list(types | map('applymacro', macro='tinyrefl_type'))}}
{%- endmacro %}

{% macro reflect_enum_value(value) -%}
TINYREFL_REFLECT_ENUM_VALUE({{generate_enum_value(value)}})
{%- endmacro %}

{% macro reflect_member_function(function) -%}
TINYREFL_REFLECT_MEMBER_FUNCTION({{generate_member_function(function)}})
{&- endmacro %}

{% macro reflect_member_variable(variable) -%}
TINYREFL_REFLECT_MEMBER_VARIABLE({{generate_member_variable(variable)}})
{&- endmacro %}

{% macro reflect_enum(enum) -%}
TINYREFL_REFLECT_ENUM({{tinyrefl_string(enum.fullname)}}, {{entity_type(enum)}}, {{tinyrefl_sequence(enum.values | generate_enum_value)}}, {{entity_attributes(enum)}})
{%- endmacro %}

{% macro reflect_class(class) -%}
TINYREFL_REFLECT_CLASS({{tinyrefl_string(class.fullname)}}, {{entity_type(class)}}, {{tinyrefl_sequence(class.bases | tinyrefl_type)}}, 
{%- endmacro %}
